/* sizes and colors of menu, arranged with variables */
$nav-height: 70px; /* coordinate this with logo */
$menu-background: #254441;
$menu-background-hover: #000;
$menu-text: #fff;
$header-font: Fondamento, Serif;

/* menu */
$columns-number: 5;

/* font sizes */
$min-font-size: 16;
$min-font-size-px: 16px;
$max-font-size: 20;

/* expected viewports */
$min-viewport: 320;
$min-viewport-px: 320px;
$max-viewport: 1600;
