.hide {
  display: none;
}

.border {
  border-style: solid;
  border-width: 5px;
  border-color: lightgrey;
  max-width: 350px;    
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

button {
  margin: 0em 1.5em 1em;
}

.filters ul {
  margin: 0em;
  padding: 0em;
}

.filters li {
  margin-left: 1em;
  list-style-type: none;
  display: inline;
}
.price {
  float: right;
}

.products ul {
  padding: 0em 1em;
  margin-top: 0.5em;
}

.products li {
  list-style-type: none;
}

.products li p {
  padding: 0em;
  margin: 0em;
}

.maybe {
  font-style: italic;
  display: none;
  color: #A55C09;
}

