@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fondamento&display=swap);

@import "normalize";
@import "config";
@import "navigation";

html,
body {
  padding: 0;
  font-size: calc(
    #{$min-font-size-px} + (#{$max-font-size} - #{$min-font-size}) * ((
            100vw - #{$min-viewport-px}
          ) / (#{$max-viewport} - #{$min-viewport}))
  );
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory; /* Vertikal Scrollen und Snap Points streng einhalten */
}

/* hide things that will be used in JavaScript only */
.hidecss {
  display: none;
}

/* make pages one viewport long */
.fullpage {
  min-height: 100vh;
  padding-top: $nav-height;
  scroll-snap-align: start; /* An der Oberkante jeder Sektion soll gestoppt werden */
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.5);
}

.center {
  text-align: center;
}

/* making the video responsve */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: $header-font;
}

/* menu-page */
.buttonwrapper {
  margin: 0;
  display: block;
  position: relative;
  height: 1rem;
}
.buttonwrapper button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background-color: $menu-background;
  border: none;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.filterwrapper button {
  margin: 0.25 rem;
  border-radius: 5px;
  background-color: $menu-background;
  border: none;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.filters ul {
  margin: 0;
  padding: 0;
}
.filters li {
  margin-left: 1rem;
  list-style-type: none;
  display: inline;
  white-space: nowrap;
}
.infotext {
  font-family: sans-serif;
  font-size: small;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 0.5rem 0.5rem 0.5rem 0.9rem;
  .no-style-button {
    margin: 0;
    border: none;
    background-color: inherit;
    float: right;
  }
  button {
    float: right;
    padding: 0;
  }
}

name {
  font-weight: bold;
  /* name not running into price */
  max-width: 85%;
}
.description {
  font-style: italic;
  /* descrition not coming too close to next row */
  max-width: 96%;
}
.makespace85 {
  /* name not running into price */
  max-width: 85%;
}

.makespace70 {
  /* name not running into price */
  max-width: 70%;
}
.nobreak {
  white-space: nowrap;
}

#about {
  background-image: url("images/board.jpg");
  background-size: cover;
  margin: 0 auto 0 auto;
}

.chapter {
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.products,
.drinks {
  -moz-columns: $columns-number 20rem;
  columns: $columns-number 20rem;
}
.products ul,
.drinks ul {
  padding: 0 1rem;
  margin-top: 0.5rem;
  position: relative;
}
.products li,
.drinks li {
  list-style-type: none;
  padding-bottom: 0.25rem;
  position: relative;
}

.products p,
.drinks p {
  margin: 0;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
}

.maybe {
  font-style: italic;
  color: #a55c09;
}

@import "print";
