/****** hide things that will be used in JavaScript ******/
.hidecss {
  display: none;
}

/****** includes fonts and colors ******/
.border {
  border-style: solid;
  border-width: 0.1px;
  border-color: lightgrey;
  margin: 0.5em auto 0 auto;
  padding: 0 1em 0 1em;
}

.infotext {
  font-family: sans-serif;
  font-size: small;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 0.5em 0.5em 0.5em 0.9em;
}
.name {
  font-weight: bold;
}
.description {
  font-style: italic;
  max-width: 95%;
}

/****** measurements and general ******/
html,
body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  text-align: center;
}

.startpage {
  height: 100vh;
  background-image: url("images/board.jpg");
  background-size: cover;
  border-style: solid;
  border-width: 0.1px;
  margin: 0 auto 0 auto;
  padding: 0 1em 0 1em;
}

.buttonwrapper {
  margin: 0;
  display: block;
  position: relative;
  height: 1em;
}
.buttonwrapper button {
  position: absolute;
  top: -1em;
  right: 0;
}

.filterwrapper button {
  margin: 0;
}

.filters ul {
  margin: 0em;
  padding: 0em;
}
.filters li {
  margin-left: 1em;
  list-style-type: none;
  display: inline;
  white-space: nowrap;
}

.infotext button {
  float: right;
  margin: 0;
  padding: 0;
}

.column {
  width: 350px;
  flex-grow: 0.2;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.products ul {
  padding: 0em 1em;
  margin-top: 0.5em;
}
.products li {
  list-style-type: none;
  padding: 0.25em;
  position: relative;
}

.products p {
  padding: 0em;
  margin: 0em;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
}

.maybe {
  font-style: italic;
  display: none;
  color: #a55c09;
}
