@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Regular.eot);
  src: url(./fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(./fonts/OpenSans-Regular.otf) format("otf"),
    url(./fonts/OpenSans-Regular.ttf) format("truetype"),
    url(./fonts/OpenSans-Regular.woff) format("woff"),
    url(./fonts/OpenSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Fondamento";
  src: url(./fonts/Fondamento-Regular.eot);
  src: url(./fonts/Fondamento-Regular.eot?#iefix) format("embedded-opentype"),
    url(./fonts/Fondamento-Regular.otf) format("otf"),
    url(./fonts/Fondamento-Regular.ttf) format("truetype"),
    url(./fonts/Fondamento-Regular.woff) format("woff"),
    url(./fonts/Fondamento-Regular.woff2) format("woff2");
}

@import "normalize";
@import "config";
@import "navigation";

html,
body {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: calc(
    #{$min-font-size-px} + (#{$max-font-size} - #{$min-font-size}) * ((
            100vw - #{$min-viewport-px}
          ) / (#{$max-viewport} - #{$min-viewport}))
  );
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
}

/* hide things that will be used in JavaScript only */
.hidecss {
  display: none;
}

/* make pages one viewport long */
.fullpage {
  min-height: 100vh;
  padding-top: $nav-height;
  scroll-snap-align: start; /* An der Oberkante jeder Sektion soll gestoppt werden */
}

.center {
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: $header-font;
}

#about p {
  max-width: 60ch;
}

/* menu-page */
.buttonwrapper {
  margin: 0;
  display: block;
}
.buttonwrapper button {
  border-radius: 5px;
  background-color: $menu-background;
  border: none;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  float: right;
}
.filterwrapper {
  clear: both;
}

.filterwrapper button {
  margin: 0.25 rem;
  border-radius: 5px;
  background-color: $menu-background;
  border: none;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.filters ul {
  margin: 0.5em 1em ;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}
.filters li {
  margin: 0.5em 0 0 0;
  list-style-type: none;
  white-space: nowrap;
}
.filters   input {
    margin-right: 5pt;
  }

.infotext {
  font-family: sans-serif;
  font-size: small;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 0.5rem 0.5rem 0.5rem 0.9rem;
  .no-style-button {
    margin: 0;
    border: none;
    background-color: inherit;
    float: right;
  }
  button {
    float: right;
    padding: 0;
  }
}

.name {
  font-weight: bold;
  /* name not running into price */
  max-width: 85%;
}
.description {
  font-style: italic;
  /* descrition not coming too close to next row */
  max-width: 96%;
}
.makespace85 {
  /* name not running into price */
  max-width: 85%;
}

.makespace70 {
  /* name not running into price */
  max-width: 70%;
}
.nobreak {
  white-space: nowrap;
}

.chapter {
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.products,
.drinks {
  -moz-columns: $columns-number 20rem;
  columns: $columns-number 20rem;
  clear: both;
}
.products ul,
.drinks ul {
  padding: 0 1rem;
  margin-top: 0.5rem;
}
.products li,
.drinks li {
  list-style-type: none;
  padding-bottom: 0.25rem;
  position: relative;
}

.products p,
.drinks p {
  margin: 0;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
}

.maybe {
  font-style: italic;
  color: #a55c09;
}

@import "print";
